<!-- Footer -->
<section class="footer">
<footer class="text-center text-lg-start text-black" style="background-color: #e6fa05;">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
		<!-- Section: Links -->
		<section class="">
			<!--Grid row-->
			<div class="row">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
					<img src="/image/logo.png" alt="failed" width="100px"height="100px">
					<h2 class="text-black">Blogger</h2>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold text-black">Products</h6>
					<p>
						<a class="text-black">MDBootstrap</a>
					</p>
					<p>
						<a class="text-black">MDWordPress</a>
					</p>
					<p>
						<a class="text-black">BrandFlow</a>
					</p>
					<p>
						<a class="text-black">Bootstrap Angular</a>
					</p>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-boldtext-black">Contact</h6>
					<p class="text-black"><i class="fas fa-home mr-3 text-black"></i> New York, NY 10012, US</p>
					<p class="text-black"><i class="fas fa-phone mr-3 text-black"></i> stutbhadauria@gmail.com</p>
					<p class="text-black"><i class="fas fa-print mr-3 text-black"></i> + 01 234 567 89</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-black">
					<h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

					<!-- Facebook -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!"
						role="button"><i class="fab fa-facebook-f"></i></a>

					<!-- Twitter -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!"
						role="button"><i class="fab fa-twitter"></i></a>

					<!-- Google -->
					<a href="" class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!"
						role="button"><i class="fab fa-google"></i></a>

					<!-- Instagram -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"
						role="button"><i class="fab fa-instagram"></i></a>

					<!-- Linkedin -->
					<a href=" https://www.linkedin.com/in/stuti-bhadauria-ab2843235/" class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!"
						role="button"><i class="fab fa-linkedin-in"></i></a>
					<!-- Github -->
					<a href=" https://github.com/stutibhadauria" class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!"
						role="button"><i class="fab fa-github"></i></a>
				</div>
			</div>
			<!--Grid row-->
		</section>
		<!-- Section: Links -->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color:black;color: whitesmoke;">
		© 2020 Copyright:
		<a  href="https://mdbootstrap.com/">@Stuti Bhadauria</a>
	</div>
	<!-- Copyright -->
</footer>
</section>
<!-- Footer -->
<!-- End of .container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>